body {
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.info,
.quote,
.cta,
.footer {
    padding: 32px 100px 24px;
}

.header,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.header_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin-right: 16px;
}

.links {
    display: flex;
    gap: 16px;
}

.links,
.hero_text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
}

.hero_title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0 16px 16px 0
}

.hero_text {
    margin: 0 16px 16px 0;
}

.hero_btn {
    background-color: #3882F6;
    color: white;
    padding: 8px;
    width: 120px;
    border: none;
    border-radius: 8px;
}

.hero_img {
    color: white;
    background-color: #a5a5a5;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    border-radius: 15px;
}

.hero_left,
.hero_img {
    flex: 1;
}