body {
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.info,
.quote,
.cta,
.footer {
    padding: 16px 150px 32px;
}


.header,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: column;
}

.header_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
}

.hero_title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    flex-shrink: 0;
}

.hero_img {
    background-color: lightgray;
    width: 450px;
    flex-shrink: 0;
}